@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Belanosima:wght@400;600;700&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.cdnfonts.com/css/made-outer-sans-alt');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Manrope";
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.scroll-hidden::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.text-description {
  color: #E9E9E9;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
}

.text-description-2 {
  color: #DEDEDE;
  font-family: MADE Outer Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 250;
  line-height: 150%;
  letter-spacing: -0.48px;
}

.text-small-title {
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height:  142.857%;
  letter-spacing: 3.92px;
  text-transform: uppercase;
  background: linear-gradient(226deg, #A953FF 0%, #6048FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-small-title-mobile {
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 150% */
  letter-spacing: 2.88px;
  text-transform: uppercase;
  background: linear-gradient(226deg, #A953FF 0%, #6048FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-title {
  color: #FFF;
  font-family: MADE Outer Sans;
  font-size: 88px;
  font-style: normal;
  font-weight: 250;
  line-height: 109.091%;
}

.text-title-mobile {
  color: var(--neutral-white, #FFF);
  font-family: MADE Outer Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 250;
  line-height: 56px;
}

.text-title-1 {
  color: var(--neutral-white, #FFF);
  font-family: MADE Outer Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 250;
  line-height: 64px; /* 133.333% */
  text-transform: capitalize;
}

.text-title-2 {
  color: #FFF;
  font-family: MADE Outer Sans;
  font-size: 54px;
  font-style: normal;
  font-weight: 250;
  line-height: 133.333%;
}

.text-title-2-mobile {
  color: var(--neutral-white, #FFF);
  font-family: MADE Outer Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 250;
  line-height: 42px;
}

.text-title-3 {
  color: #FFF;
  font-family: MADE Outer Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 250;
  line-height: 150%;
}

.text-title-3-mobile {
  color: var(--neutral-white, #FFF);
  text-align: center;
  font-family: MADE Outer Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 250;
  line-height: 36px; /* 150% */
}

.text-title-4 {
  color: #FFF;
  font-family: MADE Outer Sans;
  font-size: 72px;
  font-style: normal;
  font-weight: 250;
  line-height: 150%;
}

.text-title-4-mobile {
  color: var(--neutral-white, #FFF);
  font-family: MADE Outer Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 250;
  line-height: 56px;
}

.text-title-5 {
  color: #FFF;
  font-family: MADE Outer Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 250;
  line-height: 150%;
}

.text-input {
  color: var(--neutral-400, #BBB);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; 
}

.text-button {
  color: var(--neutral-black, #131215);
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 150% */
  letter-spacing: 1.44px;
  text-transform: uppercase;
}

.text-graphic {
  font-family: MADE Outer Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 250;
  line-height: 133.333%;
  text-transform: uppercase;
}

.text-graphic-mobile {
  font-family: MADE Outer Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 250;
  line-height: 42px; /* 131.25% */
  text-transform: uppercase;
}

.text-graphic-2 {
  font-family: MADE Outer Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 250;
  line-height: 120%;
  background: linear-gradient(180deg, #BBB 0%, #646369 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-graphic-2-mobile {
  color: #646369;
  font-family: MADE Outer Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 250;
  line-height: 48px; /* 120% */
}

.graphic-button {
  display: inline-flex;
  padding: 24px 32px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 1000px;
  background: linear-gradient(340deg, rgba(169, 83, 255, 0.08) 0%, rgba(96, 72, 255, 0.08) 100%);
}

.graphic-numbering {
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
  letter-spacing: 4px;
  text-transform: uppercase;
  background: var(--gradient-color-1, linear-gradient(226deg, #A953FF 0%, #6048FF 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.graphic-numbering-active {
  color: #FFF;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
  letter-spacing: 4px;
  text-transform: uppercase;
}

.scroll-hidden::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.text-owner {
  color: var(--neutral-400, #BBB);
  text-align: center;
  font-family: MADE Outer Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 250;
  line-height: 25px; /* 178.571% */
}

.text-price {
  color: var(--neutral-500, #646369);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  letter-spacing: 1.96px;
  text-transform: uppercase;
}

.image-frame-mobile {
  max-width: 566px;
  width: 100%;
  height: 356px;
}

.image-frame {
  width: 566px;
  height: 566px;
}

.max-width-full {
  max-width: 1440px;
}

.max-width-full-2 {
  max-width: 1204px;
}

.max-width-100 {
  max-width: 100vw;
}

.top-menu-item-text {
  color: var(--neutral-white, #FFF);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 2.56px;
  text-transform: uppercase;
}

.content-collapse {
  transition: all 250ms ease-in-out 0ms;
}